{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}


<section class="container-user-info">
<div class="div-user-info">
      <h3>Cardholder Information</h3>
  <!-- Name -->
    <span class="card-span">
      <label class="control-label" for="username">Name:</label>
      {{ card.billingname }}</span><br>
    <span class="card-span">
      <label class="control-label" for="username">Email:</label>
      {{ card.email }}</span><br>
    <span class="card-span">
      <label class="control-label" for="username">Address:</label>
      {{ card.line1 }} {{ card.state }} {{ card.postal_code }}</span><br>
    <span class="card-span">
      <label class="control-label" for="username">Phone:</label>
      {{ card.phone }}</span><br>
    <span class="card-span">
      <label class="control-label" for="username">Channel Partner:</label>
      {{ card.channel_partner_id }}
    </span><br>
    <!-- Card Number -->
    <span class="card-span"><label class="control-label" for="card-number">Last Four Digits of Card
        Number:</label>
        {{ card.last4 }} </span><br>
</div>

<div class="div-balance-load-funds">
  <form>
    <label class="control-label" for="username"></label><h3>Current Balance: $
    {{ card.balance }}</h3></label>
    <br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Load Money</button>
</div>
</section>

<div class="transaction-table">
  <div class="transaction-history">
    <h3>Transaction History</h3>
  </div>
    <table id="customers" class="table table-bordred table-striped">
      <thead>
        <th>Date</th>
        <th>Transaction</th>
        <th>Amount</th>
        <th>Balance</th>
      </thead>
      <tbody>
        {% for transaction in transactions %}
                    <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.merchant }}</td>
                    <td>{{ transaction.amount/-100 }}</td>
                    <td>{{ transaction.balance }}</td>
                    </tr>
                    {% endfor %}
        
    </tbody>
    </table>
</div>

</div>
</div>
</div>

{%  endblock %}