{% extends 'base.html' %}
{% block content %}

        <!-- BEGIN INDEX PAGE  -->
        <div class="align-items-xl-end header-dark" id="mainpage_riverlogo_container"
            style="opacity: 1;
            background-size: cover;
            background-color: #ffffff;
            background-image: url('/static/img/tower_bridge1.jpeg');
            padding: 0px;
            padding-bottom: 0;
            background-repeat: no-repeat;
            filter: grayscale(0%) invert(0%);background-position: 0 4em;">
            <img class="img-fluid" src="/static/img/arg_logo_with_river.svg"
                style="padding-left: 10%;padding-right: 10%;width: auto;margin: 0px;padding-top: 10em;max-width: 100%;">
            <p class="text-center"
                style="color: rgb(254,242,206);background-color: rgba(0,0,0,0.55);background-size: auto;font-size: 170%;background-position: center;">
                Now accepting shoppers and retailers into our beta program!</p>
        </div>

    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" id="about-us">About Us</h2>

                <p class="text-center">The Reloadable Prepaid Credit Card that does more!<br>

                    (cool picture of our card)<br>
                     
                    Let's face it most prepaid credit cards suck.<br>
                    High fees, Difficult to load and very rigid.<br>
                    
                    At American River Gold we believe money should flow like water. So we built a visa card with flexibility to fit YOUR unique Individual/Business needs.<br>
                    
                    You can load your American River Gold card quickly and easily with:<br>
                    
                    -Cash 
                    -Square/Venmo<br>
                    -Bank transfer (ACH or wire)<br>
                    -Check
                    -Money order<br>
                    -Crypto<br>
                    
                    You can get new cards or check you Balance via:<br>
                    -Our website<br>
                    - Phone<br>
                    -In person<br>
                    -Our Advanced user friendly API<br>
                    
                    We have customized solutions for:<br>
                    -Mexican Grocery Stores<br>
                    -Check cashing stores<br>
                    -Cryptocurrency wallets <br>
                    -Alternative Medicinal Shops<br>
                    -The unbanked<br>
                    
                    And so much more because we customize our cards for your needs!  Our customers are amazed at the flexibility of our cards.<br>
                    
                    Contact us today to see the financial solutions that American River Gold can help you with today!<br>
                    (Contact us form) </p>
                <h2 class="text-center" id="contact-us">Contact Information</h2>
                <p class="text-center" style="margin-bottom: 0px;">bryan at americanrivergold.com</p>
                <p class="text-center">(916) 397-8238</p>
            </div>
        </div>
    </div>
                <!-- END INDEX PAGE  -->
                {%  endblock  %}