{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}

{% block content %}


<style>

        body,html {
            height: 100%;
        }
        
        body {
            position: relative;
        }
        
         .min-100 {
            min-height: 80vh;
        }
        
        
        </style>
        

<div class="jumbotron mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
        <h1 class="display-3">Channel Partners</h1>
        <p>Join our API access program</p>
        <p class="lead">
            <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>


{% endblock %}


