{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}

{% block content %}

<ul class="user-info">
    <li><a href="/check_balance.html">check_balance</a></li>
        <li><a href="/test_google_auth">test google auth</a></li>
        <li><a href="/jumbotronpage.html">jumbotronpage.html</a></li>
        <li><a href="/channel_partner_login.html">channel_partner_login.html</a></li>
        <li><a href="/dashboard_api.html">dashboard_api.html</a></li>
        <li><a href="/user_display.html">user_display.html</a></li>
        <li><a href="/user_portal.html">user_portal.html</a></li>
        <li><a href="/user_load_money_portal.html">user_load_money_portal.html</a></li>

    </ul>
{% endblock %}

