{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
    
    <div id="div-user-info">
        <p>Name: {{ card.billingname }} </p>
        <p>Email: {{ card.email }}   </p>
        <p>Address: {{ card.line1 }}  </p>
        <p>Telephone: {{ card.phone }}  </p>
        <p>Channel Partner: {{ card.channel_partner }} </p>
        <p>Last Four Digits of Card Number: {{ card.last4  }} </p>
        <p></p><a id="edit-account-a" href="#">Edit Account Info</a>
    </div>

        <form name='add-money' class="borderedheaderbutton"   action="/add_money.html" method="post">
            <h1 id="h1-current-balance">Current balance: {{ card.balance  }} </h1>
            <button name="btn-add-money" class="btn btn-primary" type="submit" value="Login">Add Money</button>
        </form>    


    <div id="div-transaction-history">
        <p id="transaction-history-header">Transaction History</p>
        <div class="table-responsive" id="table-transaction-history">
            <table class="table">
                <thead id="th-transaction-history">
                    <tr>
                        <th>Date</th>
                        <th>Merchant</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.merchant }}</td>
                    <td>{{ transaction.amount/-100 }}</td>
                    <td>{{ transaction.balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {%  endblock %}