{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}
<div id="div-user-info">
    <div id="div-name-balance">
        <h1 id="h1-name">Name</h1>
        <h1 id="h1-current-balance">Current balance:</h1><button class="btn btn-primary" id="btn-add-money" type="button">Add Money</button></div>
    <div id="div-transaction-history">
        <p id="transaction-history-header">Transaction History</p>
        <div class="table-responsive" id="table-transaction-history">
            <table class="table">
                <thead id="th-transaction-history">
                    <tr>
                        <th>Date</th>
                        <th>Merchant</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.merchant }}</td>
                    <td>{{ transaction.amount/-100 }}</td>
                    <td>{{ transaction.balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{%  endblock %}