{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}

<style>
  body {
    background-image: url('static/img/gold-cascade-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #login {
    text-align:right;
    width:400px;
    margin:auto;
    margin-top:120px;
    padding:15px;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    border-radius:25px;
    color: gold;
  }

  #submit {
    padding:10px;
    background-color: gold;
    font-size:15px;
    border-radius:25px;
    font-weight:bold;
    width:100px;
  }

  h1 {
    text-align: center;
  }

  p {
    margin-right: 60px;
  }

  label {
    margin-right:15px;
    font-weight:bold;
  }

  ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    margin-top:20px;
    justify-content: center;
    margin-right:40px;
    font-size:18px;
  }

  a {
    color:gold;
  }

  #link-register {
    padding-right:60px;
    text-align: left;
  }

  #link-forgot-password {
    align-items: right;
    text-align: right;
  }

  @media screen and (max-width: 780px) {
		#login {
			border:none;
		}
	
	}

</style>


  <div id="login">
    <h1>(( _('Login') ))</h1>
    <form id="form-login" action="(( url_for_security('login') ))" method="POST" name="login_user_form">
      (( login_user_form.hidden_tag() ))
      (( render_field_with_errors(login_user_form.email) ))
      (( render_field_with_errors(login_user_form.password) ))
      (( render_field_with_errors(login_user_form.remember) ))
      <div id="btn-register" style="text-align:center; margin-left:50px;">
        (( render_field(login_user_form.submit) ))
      </div>
    </form>

    <ul>
      {% if security.registerable %}
      <li><a id="link-register" href="(( url_for_security('register') )){% if 'next' in request.args %}?next=(( request.args.next|urlencode )){% endif %}">(( _('Register') ))</a><br/></li>
      {% endif %}
      {% if security.recoverable %}
      <li><a id="link-forgot-password" href="(( url_for_security('forgot_password') ))">(( _('Forgot password') ))</a><br/></li>
      {% endif %}
      {% if security.confirmable %}
      <li><a href="(( url_for_security('send_confirmation') ))">(( _('Confirm account') ))</a></li>
      {% endif %}
    </ul>
  </div>

{% endblock %}


