{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
    
    <div id="div-user-info">
        <p>                  Currently logged in as (( current_user.email  ))  channel partner# ((  current_user.channel_partner_id  )) </p>
    </div>

    <h1>Card</h1>
    <h3>last4:             (( card.last4 ))</h3>
    <h3>fullcardnumber:    (( card.fullcardnumber ))</h3>
    <h3>brand:              (( card.brand ))</h3>
    <h3>type:              (( card.type ))</h3>
    <h3>exp_month:         (( card.exp_month ))</h3>
    <h3>exp_year:          (( card.exp_year ))</h3>
    <h3>phone:              (( card.phone ))</h3>
    <h3>email:              (( card.email ))</h3>
    <h3>billingname:          (( card.billingname ))</h3>
    <h3>line1:              (( card.line1 ))</h3>
    <h3>line2:              (( card.line2 ))</h3>
    <h3>city:               (( card.city ))</h3>
    <h3>state:              (( card.state ))</h3>
    <h3>postal_code:        (( card.postal_code ))</h3>
    <h3>stripe_card_id:     (( card.stripe_card_id ))</h3>
    <h3>created:            (( card.created ))</h3>

<h2>Card Successfully Activated,  Amount added to Card: (( payment.amount )) </h2>

    {%  endblock %}