{% extends 'base.html' %}
{% block content %}

<!-- BEGIN INDEX PAGE  -->
<div style="background-color: black;">
    <div class="div-cover-image" id="mainpage_riverlogo_container" style="opacity: 1;
            background-size: cover;
            background-image: url('/static/img/tower_bridge1.jpeg');
            padding: 25px 25px 25px 25px;
            background-repeat: no-repeat;
            border-bottom: 3px solid black;">

        <img class="img-fluid" src="/static/img/arg_logo_with_river.svg"
            style="width: auto; padding-top: 5em;max-width: 100%;">
        <p class="text-center"
            style="color: rgb(254,242,206);background-color: rgba(0,0,0,0.55); font-size: 200%; margin:25px 0px 0px 0px;">
        </p>
    </div>

    <div id="page-background">
        <div id="contact-us">
            <h2 class="text-center">Questions? Contact us. We're here for you.</h2>
            <p class="text-center" style="margin-bottom: 0px;">bryan at americanrivergold.com</p>
            <p class="text-center">(916) 397-8238</p><br>
        </div>
    </div>
</div>
<!-- END INDEX PAGE  -->
{% endblock %}