<style>
  h2,
  h4 {
    margin: 10px 0px 0px 0px
  }

  .bootstrap-table .fixed-table-container .fixed-table-body {
    height: fit-content !important;
    width: 95% !important;
    margin: auto !important;
  }

  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  .bootstrap-table .fixed-table-container .table {
    background-color: white;
  }

  .wrapper {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .wrapper .right {
    padding: 30px 30px 10px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 25px;
  }

  .wrapper .right .info,
  .wrapper .right .projects,
  .wrapper .right .balance {
    margin-bottom: 25px;
  }

  .wrapper .right .balance {
    padding-top: 15px;
  }

  .wrapper .right .info h3,
  .wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .wrapper .right .balance h3,
  .wrapper .right .spending_limit_amount h4 {
    display: inline;
    margin-bottom: 10px;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .wrapper .right .info-data,
  .wrapper .right .projects-data {
    display: flex;
    justify-content: space-between;
  }

  .wrapper .right .info-data .data,
  .wrapper .right .projects-data .data {
    width: 45%;
  }

  .wrapper .right .info-data .data h4,
  .wrapper .right .projects-data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
  }

  .wrapper .right .info-data .data p,
  .wrapper .right .projects-data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
  }

  .wrapper .right .balance {
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
  }

  .wrapper .right .balance h1,
  .wrapper .right .spending_limit_amount h3 {
    display: inline;
    color: green;
    margin-bottom: 15px;
  }

  .wrapper #input-amount {
    width: 200px;
  }

  .wrapper #input-note {
    width: 400px;
  }

  .wrapper .wrapper-input h3 {
    margin: 0px;
  }

  .wrapper .form-label {
    font-size: 24px;
    border-bottom: 2px solid #2fcc71;
  }

  .wrapper #deposit-form {
    margin: 0px 50px 0px 50px !important
  }

  .wrapper #card-body {
    margin-top: 20px;
  }

  .wrapper #card-body .btn {
    margin-top: 10px;
    margin-right: 25px;
  }

  .divider {
    margin: 25px 0px 25px 0px;
    border-bottom: 2px solid #2fcc71;
  }

  .activity-history {
    margin-left: 30px !important;
  }

  .td-hide,
  .th-hide {
    display: none;
  }

  @media screen and (max-width: 800px) {

    .th-full,
    .td-full {
      display: none;
    }

    .activity-history {
      margin-left: 5px;
    }
  }

  @media screen and (max-width: 700px) {

    .th-med,
    .td-med {
      display: none;
    }

    .wrapper .right .info-data,
    .wrapper .right .projects-data {
      display: block;
    }

  }

  @media screen and (max-width: 500px) {

    .wrapper #input-note {
      width: 300px;
    }

    .activity-table {
      margin: 0px 5px 0px 5px;
    }

    .th-sm,
    .td-sm {
      display: none;
    }

    .th-med,
    .td-med {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {

    .wrapper #input-note {
      width: 250px;
    }
  }
  
</style>

{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}

<div class="wrapper">
  <div class="right">
    <div class="info">
      <h3>Name: ((card.billingname))</h3>
      <div class="info-data">
        <div class="data">
          <h4>Phone</h4>
          <p>((card.phone))</p>
        </div>
        <div class="data">
          <h4>Address</h4>
          <p> ((card.line1)) (( card.line2 )) </p>
          <p> (( card.city )) (( card.state )) (( card.postal_code ))</p>
        </div>

        <div class="data">
          <h4>Channel Partner</h4>
          <p>((card.channel_partner_id))</p>
        </div>
        <div class="data">
          <h4>Email</h4>
          <p>((card.email))</p>
        </div>
      </div>
    </div>

    <div class="projects">
      <h3>Card Data: (( card.last4 ))</h3>
      <div class="projects-data">
        <div class="data">
          <h4>Status</h4>
          <p>(( card.status ))</p>
        </div>

        <div class="data">
          <h4>Type</h4>
          <p>(( card.card_type))</p>
        </div>

        <div class="data">
          <h4>Expiration</h4>
          <p>((card.exp_month))/((card.exp_year))</p>
        </div>
        <div class="data">
          <h4>Issue Date</h4>
          <p id="issued-date">((card.created))</p>
        </div>
        <div class="data">
          <h4>Spending Limit</h4>
          <p>(( "${:,.2f}".format(lastactivity.spendinglimit/100) ))</p>
        </div>
      </div>
    </div>

    <div class="balance">
      <h3>Current Balance: </h3>
      <h1>(( "${:,.2f}".format(lastactivity.balance/100) ))</h1>
    </div>
    <p style="display:none">Note: (( card.note )) </p>
  </div>

  <form id="deposit-form" name='add-money' class="borderedheaderbutton" action="/add_money" method="POST">

    <h3 id="last4"> <input type="hidden" name="last4" value=((card.last4))> </h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>((message))</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="wrapper-input">
      <label for="input-amount">
        <h3>Add Amount:</h3>
      </label>
      <div class="form-group row" id="h3-current-balance">
        <div class="col-xs-3">
          <input id="input-amount" type="text" class="form-control" name="amount">
        </div>
      </div>
      <div class="form-group" id="payment-note"> <label for="input-note">
          <h3>Note:</h3>
        </label>
        <input id="input-note" type="text" class="form-control" name="paymentnote">
      </div>
    </div>

    <div id="card-body">
      <button class="btn btn-success btn-lg" type="submit" value="add">Add Money</button>
      <a href="/activate_card/(( card.stripe_card_id ))" class="btn btn-primary" role="button">
        Activate Card</a>
      <a href="/edit_cardholder/(( card.stripe_card_id ))" class="btn btn-primary" role="button">Edit Cardholder
        information</a>
      {# <a href="/edit_card_info2/(( card.stripe_card_id ))" class="btn btn-primary" role="button">Update user info for
        any
        card</a>#}
      <a href="/channel_partner_accounts" class="btn btn-primary" role="button">Return to list</a>
    </div>
    <div class="divider"></div>

  </form>

  <div class="activity-table">
    <div class="activity-history">
      <h3>Activity History</h3>
    </div>
    <div class="table-sortable">
      <table id="activity" class="table" style="table-layout:fixed;" data-toggle="table" data-sort-name="first-four"
        data-sort-order="asc">

        <thead>
          <th class=" th-full" data-field="first-four">Last 4</th>
          <th data-field="date">Date</th>
          <th class="th-full">Status</th>
          <th class="th-full">Merchant</th>
          <th class="th-hide">Auth ID</th>
          <th class="th-full">Approved</th>
          <th>Amount</th>
          <th>Balance</th>
          <th class="th-med">Limit</th>
        </thead>
        <tbody>
          {# if activity.visible is none #}
          {% for activity in activities %}
          <tr data-toggle="modal" data-target="#trModal">
            <td class="td-full">(( activity.activity_id ))</td>
            <td>(( activity.date ))</td>
            <td class="td-full">(( activity.status ))</td>
            <td class="td-full">(( activity.merchant_name ))</td>
            <td class="td-hide">(( activity.stripe_authorization_id ))</td>
            <td class="td-full">(( activity.approved ))</td>
            <td>(( "${:,.2f}".format(activity.amount/100) ))</td>
            <td style="font-weight:bold">(( "${:,.2f}".format(activity.balance/100) ))</td>
            <td class="td-med">(( "${:,.2f}".format(activity.spendinglimit/100) ))</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal hide fade" id="trModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-title" id="modal-title">
            Activity Details</div>
        </div>
        <div class="modal-body" id="modal-body">
          <span style="display:inline-block">Amount: <div id="modal-amount" style="display:inline-block"></div>
          </span><br> <span style="display:inline-block"><b>Balance: </b>
            <div id="modal-balance" style="display:inline-block; font-weight: bold;"></div>
          </span><br>
          <span style="display:inline-block">Limit: <div id="modal-limit" style="display:inline-block"></div>
          </span><br><br>
          <span style="display:inline-block"> Date: <div id="modal-date" class="modal-title-line"
              style="display:inline-block"></div></span>
          <span style="display:inline-block">Transaction ID: <div class="modal-title-line" id="modal-activity-id"
              style="display:inline-block"></div></span><br>
          <span style="display:inline-block">Activity type: <div id="modal-auth-id" style="display:inline-block">
            </div></span><br>
          <span style="display:inline-block">Status: <div id="modal-status" style="display:inline-block"></div>
          </span><br>
          <span style="display:inline-block">Merchant: <div id="modal-merchant-name" style="display:inline-block">
            </div>
          </span><br>
          <span style="display:inline-block">Approved: <div id="modal-approved" style="display:inline-block"></div>
          </span><br><br>
          <span style="display:inline-block">Note:
            <div id="modal-note" style="display:inline-block;"></div>
          </span><br>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", () => {
    const t = document.getElementById("activity");

    for (let i = 1; i < t.rows.length; i++) {
      t.rows[i].cells[1].innerHTML = formatDate(t.rows[i].cells[1].innerHTML);
    }
  });

  document.getElementById("activity").addEventListener("click", (e) => {
    const table = document.getElementsByTagName("table")[0];
    const tbody = table.getElementsByTagName("tbody")[0];
    e = e || window.event;
    let data = [];
    let target = e.srcElement || e.target;
    while (target && target.nodeName !== "TR") {
      target = target.parentNode;
    }
    if (target) {
      let cells = target.getElementsByTagName("td");
      for (let i = 0; i < cells.length; i++) {
        data.push(cells[i].innerHTML);
      }
      document.getElementById("modal-activity-id").innerHTML = cells[0].innerHTML;
      document.getElementById("modal-date").innerHTML = cells[1].innerHTML;
      document.getElementById("modal-status").innerHTML = cells[2].innerHTML;
      document.getElementById("modal-merchant-name").innerHTML = cells[3].innerHTML;
      document.getElementById("modal-auth-id").innerHTML = cells[4].innerHTML;
      document.getElementById("modal-approved").innerHTML = cells[5].innerHTML;
      document.getElementById("modal-amount").innerHTML = cells[6].innerHTML;
      document.getElementById("modal-balance").innerHTML = cells[7].innerHTML;
      document.getElementById("modal-limit").innerHTML = cells[8].innerHTML;
    };
  });

</script>

{% endblock %}