{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
    

    <div id="cards-div">
        <p id="cards-header">Account   has  ((  cards|length  )) cards </p>
        <div class="table-responsive" id="cards-table">
            <table class="table">
                <thead >
                    <tr>
                        <th> channelpartner </th>
                        <th> cardtype </th>
                        <th> status </th>
                        <th> balance </th>
                        <th> spendinglimit </th>
                        <th>  last4 </th>
                        <th>  Expiration </th>
                        <th> card_id </th>
                        <th> created </th>
                        <th> billingname </th>
                        <th>  email </th>
                        <th>  phone</th>
                        </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr>
                    <td>(( card.channel_partner_id ))</td>
                    <td>(( card.card_type ))</td>
                    <td>(( card.status ))</td>
                    <td>(( "${:,.2f}".format(card.balance/100)  ))</td>
                    <td>(( "${:,.2f}".format(card.spending_limit_amount/100)  ))</td>
                    <td>
                            <a href="/issuing/cards/(( card.stripe_card_id ))">
                        (( card.last4 ))
                            </a>
                    </td>
                    <td>((card.exp_month))/((card.exp_year))</td>
                        <td>
                            <a href="/issuing/cards/(( card.stripe_card_id ))">
                            (( card.card_id ))
                            </a>
                        </td>
                        <td>
                        <a href="/issuing/cards/(( card.stripe_card_id ))">
                        (( card.created ))
                        </a>
                    </td>
                    <td>(( card.billingname ))</td>
                    <td>(( card.email ))</td>
                    <td>(( card.phone ))</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {%  endblock %}
