{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
    
    <div class="borderedheaderbutton">
    <a href="/activate_card/(( card.stripe_card_id ))" class="btn btn-primary" role="button">Assign customer info and make initial payment</a> <br> <br>
    <a href="/edit_cardholder/(( card.stripe_card_id ))" class="btn btn-primary" role="button">Edit Cardholder information only.</a> <br> <br>

{#    <a href="/edit_card_info2/(( card.stripe_card_id ))" class="btn btn-primary" role="button">Update user info for any card</a>#}
    </div>

    <div id="div-user-info">
        <p></p>
        <p>Last Four Digits of Card Number: (( card.last4  )) (( card.status )) (( card.card_type)) </p>
        <p>Name: (( card.billingname )) </p>
        <p>Email: (( card.email ))   </p>
        <p>Address: (( card.line1 ))  </p>
        <p>Telephone: (( card.phone ))  </p>
        <p>Channel Partner: (( card.channel_partner_id )) </p>
        <p>Spendlimit: (( "${:,.2f}".format(card.spending_limit_amount/100) )) </p>
        <!-- <p></p><a id="edit-account-a" href="/edit_card_info">Edit Card Info</a> -->
    </div>

        <form name='add-money' class="borderedheaderbutton"   action="/add_money" method="POST">
            <h1 id="h1-current-balance">Current balance: (( "${:,.2f}".format(card.balance/100)  )) </h1>
            <h3 id="last4">  <input type="hidden" name="last4"  value=((card.last4)) > </h3>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>((message))</p>
        {% endfor %}
    {% endif %}
{% endwith %}
            <h3 id="h1-current-balance">  Amount to Add $<input type="text" name="amount" > </h3>
            <h4 id="payment-note">  Note for Payment $<input type="text" name="paymentnote" > </h4>
            <button class="btn btn-primary" type="submit" value="add">Add Money</button>
        </form>    

<div class="activity-table">
  <div class="activity-history">
    <h3>Activity History</h3>
  </div>
  <div class="table-responsive">
    <table id="activity" class="table table-bordred table-striped">
      <thead>
        <th>ActivityID</th>
        <th>Date</th>
        <th>activitytype</th>
        <th>status</th>
        <th>Merchant Name</th>
        <th>stripe_authorization_id</th>
        <th>approved</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Note</th>
      </thead>
      <tbody>
{#      if activity.visible is  none #}
        {% for activity in activities %}
        <tr>
        <td>(( activity.activity_id ))</td>
        <td>(( activity.date ))</td>
        <td>(( activity.activity_type ))</td>
        <td>(( activity.status ))</td>
        <td>(( activity.merchant_name ))</td>
        <td>(( activity.stripe_authorization_id ))</td>
        <td>(( activity.approved ))</td>
        <td>(( "${:,.2f}".format(activity.amount/100) ))</td>
        <td>(( "${:,.2f}".format(activity.balance/100) ))</td>
        <td>(( activity.note ))</td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>



</div>


    {%  endblock %}