{% extends 'base.html' %}
{% from 'bootstrap/utils.html' import render_flashed_messages %}
{% block content %}

    <div id="payment">
    <fieldset class="fieldset-auto-width">
      <legend><h3>Payment</h3></legend>
          <!-- Name -->
          <span class="card-span">
            <label class="control-label" for="username">American River Gold Card Holder:</label>
            Bryan Barton</span><br>
          <!-- ARG Card Number -->
            <span class="card-span"><label class="control-label" for="card-number">American River Gold Card Number:</label>7777777</span><br>
                      <!-- Amount -->
            <label class="control-label" for="amount">Enter Amount:</label>
            <span class="currency-input"><div class="controls">$
              <input type="number" id="amount" name="amount" min="0.01" step="0.01" placeholder="" class="input-xlarge">
            </div></span>


        <!-- Name -->
        <div class="control-group">
          <label class="control-label"  for="username">Name as Appears on Card:</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
          </div>
        </div>
         
              <!-- Credit Card Number -->
              <div class="control-group">
                <label class="control-label" for="email">Credit Card Card Number:</label>
                <div class="controls">
                  <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                </div>
              </div>
         
              <!-- Expiry-->
              <div class="control-group">
                <label class="control-label" for="password">Card Expiry Date</label>
                <div class="controls">
                  <select class="span3" name="expiry_month" id="expiry_month">
                    <option></option>
                    <option value="01">Jan (01)</option>
                    <option value="02">Feb (02)</option>
                    <option value="03">Mar (03)</option>
                    <option value="04">Apr (04)</option>
                    <option value="05">May (05)</option>
                    <option value="06">June (06)</option>
                    <option value="07">July (07)</option>
                    <option value="08">Aug (08)</option>
                    <option value="09">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dec (12)</option>
                  </select>
                  <select class="span2" name="expiry_year">
                    <option value="13">2013</option>
                    <option value="14">2014</option>
                    <option value="15">2015</option>
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                  </select>
                </div>
              </div>
         
              <!-- CVV -->
              <div class="control-group">
                <label class="control-label"  for="password_confirm">Card CVV</label>
                <div class="controls">
                  <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="span2">
                </div>
              </div>
         
              <!-- Save card -->
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox" for="save_card">
                    <input type="checkbox" id="save_card" value="option1">
                    Save card on file?
                  </label>
                </div>
              </div>
         
                        <!-- Submit -->
		  <input type="submit" value="Send">
         
            </fieldset>
          </form>
        </div>
    </div>

{% endblock  %}